@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Taxeria Rayner</h1>

        <h2>Escojer tu coche de Taxista</h2>
        <hr />
        <a class="btn btn-success btn-lg text-white" asp-controller="CarroDelChofer" asp-action="Index">Seleccionar coche</a>

        <hr />
        <img class="w-100 px-5 mt-3" style="object-fit:cover; " src="https://images.pexels.com/photos/2399254/pexels-photo-2399254.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />



    </div>
