@model CleanArquitecture.Application.ViewModels.AllViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Asignar carro a taxista</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <select class="form-control" asp-for="Carros" name="Id_Carro">
                @*Iterating Employee ViewModel *@
                @foreach (var item in Model.Carros)
                {
                    <option value="@item.Id_Carro">@item.Modelo</option>

                }
            </select>
            <hr />

            <select class="form-control" asp-for="Choferes" name="Id_Chofer">
                @*Iterating Employee ViewModel *@
                @foreach (var item in Model.Choferes)
                {
                    <option value="@item.Id">@item.Nombre</option>

                }
            </select>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
